.button {
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: none;
    border: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  
  .button:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  
  .icon {
    fill: white;
    width: 1em;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    margin: auto;
    transform: translate(-35%, 10%);
  }
  