.button {
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #2a2e35;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: none;
    border: 0;
    transition: all 0.3s ease-in-out;
    position: relative;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    box-shadow: none;
    text-shadow: none;
  }
  
  .button:hover {
    transform: scale(1.05);
    background: #32373f;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    text-shadow: none;
  }
  
  .icon {
    fill: white;
    width: 1em;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    margin: auto;
    transform: translate(-35%, 10%);
    filter: none;
  }
  